<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 30px;">
    Olá, <strong>{{clientProfileData.firstName}}!</strong> Seu pedido foi alterado. Segue informações abaixo:
  </td>
</tr>