<td valign=top style="padding: 0; width: 32%; vertical-align: top; margin: 5px;border: 1px solid #ececf0; border-top: none;">
  <div style="display: inline-block; vertical-align: top; width: 100%;">
    <h2 style="font-size: 14px; font-weight: normal; text-transform: uppercase; color: #2b2b2b; background: #ececf0; padding: 10px 0; text-align: center; margin: 0;">
      Resumo
    </h2>

    <div style="padding: 10px;">
      <table style="width: 100%; border-collapse: separate; border-spacing: 0;">
        <tr>
          <td style="padding: 5px 0; font-size: 12px; color: #7e7f88; border-bottom: 1px solid #ececf0; text-align: left;">
            Subtotal
          </td>

          <td style="padding: 5px 0; font-size: 12px; color: #7e7f88; border-bottom: 1px solid #ececf0; text-align: right;">
            R$ {{formatCurrency totals.0.value}}
          </td>
        </tr>

        <tr>
          <td style="padding: 5px 0; font-size: 12px; color: #7e7f88; border-bottom: 1px solid #ececf0; text-align: left;">
            Entrega
          </td>

          <td style="padding: 5px 0; font-size: 12px; color: #7e7f88; border-bottom: 1px solid #ececf0; text-align: right;">
            R$ {{formatCurrency totals.2.value}}
          </td>
        </tr>

        <tr>
          <td style="padding: 5px 0; font-size: 12px; color: #7e7f88; border-bottom: 1px solid #ececf0; text-align: left;">
            Desconto
          </td>

          <td style="padding: 5px 0; font-size: 12px; color: #2b2b2b; border-bottom: 1px solid #ececf0; text-align: right;">
            R$ {{formatCurrency totals.1.value}}
          </td>
        </tr>

        <tr>
          <td style="padding: 5px 0; font-size: 12px; color: #7e7f88;text-align: left;">
            Total
          </td>

          <td style="padding: 5px 0; font-size: 12px; font-weight: bold; color: #2b2b2b;text-align: right;">
            R$ {{formatCurrency value}}
          </td>
        </tr>

      </table>
    </div>
  </div>
</td>