<!DOCTYPE html>
<html lang="pt-BR">

  <!-- partial:partials/head.hbs --><!-- partial -->

<body leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0'>
  <!-- partial:partials/styles.hbs --><!-- partial -->

  <center>
    <table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style="max-width: 600px;">
      <tbody>

        <!-- Header -->
        <!-- partial:partials/header/index.hbs --><!-- partial -->
        
        <!-- Banner -->
        <!-- partial:partials/banner-top/index.hbs --><!-- partial -->

        <!-- Main Content -->
        <tr>
          <td>
            <table width="100%" bgcolor="#fff" align="center" style="max-width: 100%; padding: 0 35px;">
              <tbody>
                <!-- Title -->
                <!-- partial:partials/06-payment-pending/title.hbs --><!-- partial -->

                <!-- Subtitle -->
                <!-- partial:partials/06-payment-pending/subtitle.hbs --><!-- partial -->

                <!-- Content -->
                <!-- partial:partials/06-payment-pending/content.hbs --><!-- partial -->
              </tbody>
            </table>
          </td>
        </tr>

        <!-- Footer -->
        <!-- partial:partials/footer/index.hbs --><!-- partial -->
      </tbody>
    </table>
  </center>
</body>
</html>