<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 30px;">
    Agora você faz parte da Charth e receberá sempre nossas novidades sobre lançamentos, campanhas e muito mais. <br/>
    Além disso, você acaba de ganhar <strong>5% de desconto</strong>.
  </td>
</tr>

<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b">
    Utilize o cupom abaixo na sacola e boas compras.
  </td>
</tr>