<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 20px;">
    Olá, {{clientProfileData.firstName}}! Sua nota fiscal foi emitida! 
    Estamos empacotando seu produto para providenciar o envio.
  </td>
</tr>