<tr>
  <td width="100%" align="left" style="padding: 30px 30px 0;">
    <strong style="font-size: 12px; color: #666;">
      Veja alguns detalhes sobre sua entrega:
    </strong>
    <table style="width: 100%; border-collapse: collapse; border-spacing: 0;">
      <tr>
        <td align="left" style="font-size: 12px; color: #666; line-height: 18px; padding-bottom: 15px;">
          - Porteiros, recepcionistas, secretárias e familiares estão
          autorizados a receber o seu pedido. Eles só precisam apresentar um
          documento de identificação com foto e assinar o comprovante de entrega.
        </td>
      </tr>

      <tr>
        <td align="left" style="font-size: 12px; color: #666; line-height: 18px; padding-bottom: 15px;">
          - Caso o produto recebido esteja em desacordo com sua compra, entre
          em contato imediatamente com o nosso Fale Conosco.
        </td>
      </tr>

      <tr>
        <td align="left" style="font-size: 12px; color: #666; line-height: 18px; padding-bottom: 15px;">
          - Você também pode trocar o produto* em uma das nossas lojas físicas. 
          Não se esqueça de levar a nota fiscal do(s) produto(s).
        </td>
      </tr>

      <tr>
        <td align="left" style="font-size: 12px; color: #666; line-height: 18px;">
          - Guarde a embalagem do(s) produto(s) e o DANFE
          (Documento Auxiliar da Nota Fiscal Eletrônica) do pedido. Estes
          documentos vão ser necessários em caso de troca.
        </td>
      </tr>
    </table>
  </td>
</tr>
