<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 30px;">
    Olá, <strong>{{clientProfileData.firstName}}!</strong> Informamos que o estorno da sua compra
    <strong style="font-size: 18px;">n° {{orderId}}</strong> foi realizada com sucesso.
  </td>
</tr>