<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 20px;">
    Infelizmente, ocorreu algum problema com seu pagamento e o seu pedido <strong style="font-size: 18px;">n° {{orderId}}</strong> foi cancelado.
  </td>
</tr>