<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 20px;">
    Olá, <strong>{{clientProfileData.firstName}}!</strong> Seu pedido já está com a transportadora. <br/>
    Falta pouco para sua compra chegar até você.
  </td>
</tr>