<tr align="center">
  <td>
    <img src="http://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/order-confirmation-status.png" alt="Order confirmation" style="display: block; max-width: 100%; margin: 30px auto;">
  </td>
</tr>