<tr align="center">
  <td>
    <img src="http://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/order-invoiced-status.png" alt="Order Invoiced" style="display: block; max-width: 100%; margin: 30px auto;">
  </td>
</tr>