<table width="100%" align="center" style="padding: 35px 0; border-top: 1px solid #d1d3da;">
  <tbody>
    <tr>
      <td align="center" style="font-size: 10px; color: #5a5b61; font-weight: normal;">
        &copy; 2022 Charth
      </td>
    </tr>
  </tbody>
</table>