<tr>
  <td width="100%" align="center" style="color: #5a5b61; font-size: 12px; padding: 30px 0 10px; line-height: 22px;">
    Por favor, não responda este e-mail. Ele foi gerado automaticamente.
  </td>
</tr>

<tr>
  <td>
    <table width="100%" bgcolor="#f5f5f5" align="center" style="max-width: 100%; border-collapse: collapse;">
      <tbody>
        <!-- Footer Top -->
        <tr>
          <td style="padding: 30px 0 27px;">
            <table width="100%" align="center">
              <tbody>
                <tr>
                <!-- partial:service.hbs --><!-- partial -->

                <!-- partial:networks.hbs --><!-- partial -->
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <!-- Footer Bottom -->
        <tr>
          <td style="padding: 0 30px;">
            <!-- partial:copyright.hbs --><!-- partial -->
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>