<td width="50%" height="60" align="center">
  <p style="margin: 0 0 10px 0; font-size: 14px; color: #5a5b61; font-weight: bold;">
    atendimento
  </p>
  <p style="margin: 0; font-size: 12px; color: #5a5b61; font-weight: normal; line-height: 15px;">
    Email: shop@charth.com.br <br/>
    Telefone: (31) 3327-0638 <br/>
    (de segunda à sexta das 9h às 18h)
  </p>
</td>
