<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b">
    Olá, <strong style="text-transform: capitalize;">{{to.0.name}}!</strong> <br/>
    Você solicitou de acesso na Charth. <br />
    Seu código é:
  </td>
</tr>