<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 20px;">
    Olá, <strong>{{clientProfileData.firstName}}!</strong> Informamos que o pagamento do pedido não foi aprovado.
  </td>
</tr>
<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 20px;">
    Solicitamos que entre em contato com a administradora de seu cartão de 
    crédito ou confira outras <strong>Formas de Pagamento</strong> pelo site.
  </td>
</tr>