<tr>
  <td width="100%" align="left" style="font-size: 16px; line-height: 27px; color: #121214; padding-bottom: 20px;">
    Olá, <strong style="text-transform: capitalize;">{{addressee.name}}</strong>.
    O produto que você está interessado(a) já está disponível!
  </td>
</tr>