<tr align="center">
  <td style="padding-top: 10px;">
    <a href="https://{{_accountInfo.AccountName}}.com.br/" target="_blank" style="text-decoration: none;">
      <img src="https://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/email-banner-mid.png" alt="{{_accountInfo.TradingName}}" style="display: block; max-width: 100%; margin: 0 auto;">
    </a>
  </td>
</tr>