<tr>
  <td width="100%" align="left";>
    <table border='0' cellpadding='0' cellspacing='0' width='100%' height='150'>
      <tbody>
        <tr>
          <td align='center' valign='center' height='150'>
            <img src="https://{{_accountInfo.AccountName}}.vteximg.com.br/arquivos/email-banner-top.png" alt="{{_accountInfo.TradingName}}" style="display: block; max-width: 100%; margin: 0 auto;">
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>