<tr style="background: #eb5757;">
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #fdfdfd; padding: 10px 0;">
    Não foi possível cancelar seu pedido.
  </td>
</tr>

<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding: 20px 0;">
    Olá, <strong>{{clientProfileData.firstName}}!</strong> Seu pedido já está com a transportadora. <br/>
    Caso queira seguir com o cancelamento, você poderá recusar a entrega e posteriormente seu pagamento será estornado.
  </td>
</tr>