<tr>
  <td width="100%" align="left" style="font-size: 16px; line-height: 27px; color: #121214; padding-bottom: 30px;">
    Olá, <strong style="text-transform: capitalize;">{{orders.0.clientProfileData.firstName}}</strong>.
    Esse e-mail é para lembrar que seu boleto <strong>vence em 01 dia(s)</strong>. 
    Por favor, realize o pagamento para dar continuidade à sua compra.
  </td>
</tr>