<tr>
  <td width="100%" align="left" style="font-size: 14px; font-weight: bold; color: #121214; text-transform: uppercase;">
    nome completo:
  </td>
</tr>

<tr>
  <td width="100%" align="left" style="font-size: 14px; color: #5a5b61; padding: 5px 0 15px;">
    {{clientData.name}}
  </td>
</tr>

<tr>
  <td width="100%" align="left" style="font-size: 14px; font-weight: bold; color: #121214; text-transform: uppercase;">
    e-mail:
  </td>
</tr>

<tr>
  <td width="100%" align="left" style="font-size: 14px; color: #5a5b61; padding: 5px 0 15px;">
    {{clientData.email}}
  </td>
</tr>

<tr>
  <td width="100%" align="left" style="font-size: 14px; font-weight: bold; color: #121214; text-transform: uppercase;">
    celular:
  </td>
</tr>

<tr>
  <td width="100%" align="left" style="font-size: 14px; color: #5a5b61; padding: 5px 0 15px;">
    {{clientData.phone}}
  </td>
</tr>

<tr>
  <td width="100%" align="left" style="font-size: 14px; font-weight: bold; color: #121214; text-transform: uppercase;">
    mensagem:
  </td>
</tr>

<tr>
  <td width="100%" align="left" style="font-size: 14px; color: #5a5b61; padding-top: 5px; line-height: 24px;">
    {{message}}
  </td>
</tr>