<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 20px;">
    Agradecemos por realizar sua compra na Charth. <br/>
    Seu pedido <strong style="font-size: 18px;">nº {{orders.0.orderId}}</strong> foi recebido e está em processo de análise.
  </td>
</tr>

<tr>
  <td width="100%" align="center" style="font-size: 16px; line-height: 20px; color: #2b2b2b; padding-bottom: 20px;">
    Após a confirmação de pagamento, iremos realizar a entrega para o endereço definido.
  </td>
</tr>